{% extends 'security_layout.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block card_title %}Change Password{% endblock %}

{% block content %}
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">If you don't receive an email please check your spam folder or <a class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
