<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            {% if is_granted('ROLE_USER')  %}
                <a href="{{ path('app_security_logout') }}" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Logout</a>
            {% else %}
                <a href="{{ path('app_security_login') }}" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
